@model lazergo.Models.ClienteModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ClienteModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DataNascimento" class="control-label"></label>
                <input asp-for="DataNascimento" class="form-control" />
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CPF" class="control-label"></label>
                <input asp-for="CPF" type="text" class="form-control" maxlength="15" pattern="\d*" oninput="this.value = this.value.replace(/[^0-9]/g, '');" />
                <span asp-validation-for="CPF" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Sexo" class="control-label">Sexo:</label>
                <select asp-for="Sexo" class="form-control">
                    <option value="">Selecione o Sexo</option>
                    <option value="Masculino">Masculino</option>
                    <option value="Feminino">Feminino</option>
                    <option value="Não Declarado">Não Declarado</option>
                </select>
                <span asp-validation-for="Sexo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Celular" class="control-label"></label>
                <input asp-for="Celular" type="text" class="form-control" maxlength="15" pattern="\d*" oninput="this.value = this.value.replace(/[^0-9]/g, '');" />
                <span asp-validation-for="Celular" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Endereco" class="control-label"></label>
                <input asp-for="Endereco" class="form-control" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Bairro" class="control-label"></label>
                <input asp-for="Bairro" class="form-control" />
                <span asp-validation-for="Bairro" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Cidade" class="control-label"></label>
                <input asp-for="Cidade" class="form-control" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CEP" class="control-label"></label>
                <input asp-for="CEP" type="text" class="form-control" maxlength="8" pattern="\d*" oninput="this.value = this.value.replace(/[^0-9]/g, '');" />
                <span asp-validation-for="CEP" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UF" class="control-label"></label>
                <select asp-for="UF" class="form-control">
                    <option value="">Selecione um estado</option>
                    <option value="AC">AC</option>
                    <option value="AL">AL</option>
                    <option value="AP">AP</option>
                    <option value="AM">AM</option>
                    <option value="BA">BA</option>
                    <option value="CE">CE</option>
                    <option value="DF">DF</option>
                    <option value="ES">ES</option>
                    <option value="GO">GO</option>
                    <option value="MA">MA</option>
                    <option value="MT">MT</option>
                    <option value="MS">MS</option>
                    <option value="MG">MG</option>
                    <option value="PA">PA</option>
                    <option value="PB">PB</option>
                    <option value="PR">PR</option>
                    <option value="PE">PE</option>
                    <option value="PI">PI</option>
                    <option value="RJ">RJ</option>
                    <option value="RN">RN</option>
                    <option value="RS">RS</option>
                    <option value="RO">RO</option>
                    <option value="RR">RR</option>
                    <option value="SC">SC</option>
                    <option value="SP">SP</option>
                    <option value="SE">SE</option>
                    <option value="TO">TO</option>
                </select>
                <span asp-validation-for="UF" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Observacao" class="control-label"></label>
                <input asp-for="Observacao" class="form-control" />
                <span asp-validation-for="Observacao" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Situacao" class="control-label"></label>
                <select asp-for="Situacao" class="form-control">
                    <option value="">Selecione a Situação</option>
                    <option value="Ativo">Ativo</option>
                    <option value="Inativo">Inativo</option>
                </select>
                <span asp-validation-for="Situacao" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TipoPessoa" class="control-label"></label>
                <select asp-for="TipoPessoa" class="form-control">
                    <option value="">Selecione o Tipo de Pessoa</option>
                    <option value="Física">Física</option>
                    <option value="Jurídica">Jurídica</option>
                </select>
                <span asp-validation-for="TipoPessoa" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TipoUsuario" class="control-label"></label>
                <select asp-for="TipoUsuario" class="form-control">
                    <option value="">Selecione o Tipo de Usuário</option>
                    <option value="Admin">Administrador</option>
                    <option value="User">Usuário</option>
                </select>
                <span asp-validation-for="TipoUsuario" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success text-center w-100 mb-3" style="color: black; font-weight:bold">Cadastrar</button>
                <a class="btn btn-info text-center w-100" style="color: black; font-weight:bold" asp-controller="Home" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
